
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.clearfix{
    content:"";
    display:table;
    clear:both;
}
body {
    font-size: 18px;
    font-family:  Calibri, Arial;
}
.header{
    width:1140px;
    margin:20px auto 10px auto;
    padding: 30px;
    font-size:40px;
    text-align: center;
    background-image:url(bg-image.jpg);
    background-size: cover;
}
.container {
    width:1140px;
    margin:20px auto 10px auto;
    position: relative;
}
.article{
    width:75%;
    display: inline-block;
    float:left;
    padding-right:30px;
}
.article-text{
    text-align: justify;
    margin: 20px 0;
}
h1,h2{
    color:rgb(255, 138, 43);
    
}
h1{
    font-size:40px;
    margin-bottom:20px;
}

h2{
    font-size:30px;
    margin-bottom:10px;
}

.article-img {
    height:auto;
    width:100%;
    
}

.other-posts{
   width: 25%;
   margin-top:95px;
   display: inline-block;
   color:rgb(255, 138, 43);
}

.blog-post {
   margin-bottom:50px;
   
}

.other-posts img{
    width:100%;
    height:300px;
}

.other-title {
    font-size: 16px;
    color:rgb(255, 138, 43);
    text-decoration: none;
    text-transform: uppercase;
}

.footer-img{
    height: 100px;
    width:100px;
    border-radius: 50%;
    border-top: 1px solid gray;
    border-bottom: 1px solid red;
    border-left: 1px solid lime;
    border-right: 1px solid gray;
    float:left;
}

.footer-heading { 
    border-top:1px solid gray;
}

.footer p{
    width:60%;
    margin-left:20px;
    text-align:justify;
    display: inline-block;
}

.social-links{
    width:20px;
    height:20px;
    margin: 5px;
}

.social-media {
    position: fixed;
    top:10px;
    right: 2px;
}